# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=dansbart

# Celery / Redis
CELERY_BROKER_URL=redis://localhost:6379/0

# ML Models
NECKENML_MODEL_DIR=/app/models
